| {{#isAdmin user}}
div.jumbotron
  div.container
    h1 Hi, {{user.username}}
    h2 CTF Challenges #[a.btn.btn-success.pull-right(data-toggle='modal', data-target='#add-challenge-modal') #[span.glyphicon.glyphicon-plus]]
    br
    | {{#equal @root.challenge 'new'}}
    div.alert.alert-success
      p Challenge added.
    | {{/equal}}
    | {{#each challenges}}
    div.panel.panel-default(id='challenge-{{this.id}}')
      form(action='./admin-challenges', method='post')
        div.panel-heading
          h3.panel-title
            div.col-md-1(style='float:none; display: inline-block; padding: 0;')
              input.form-control(type='text', name='index', value='{{this.index}}', placeholder='Index', required)
            div.col-md-9(style='float:none; display: inline-block; padding: 0;')
              input.form-control(type='text', name='name', value='{{this.name}}', placeholder='Challenge Name', required)
            div.col-md-1(style='float:right; display: inline-block; padding: 0;')
              input.form-control(type='text', name='points', value='{{this.points}}', placeholder='Point Value', required)
        div.panel-body
          | {{#equal @root.challenge this.id}}
          div.alert.alert-success
            p Challenge updated.
          | {{/equal}}
          textarea.form-control#description(name='description', rows='5', required) {{this.description}}
          br
          br
          input.form-control(type='text', name='answer', value='{{this.answer}}', required)
          input(name='action', type='hidden', value='edit')
          input(name='id', type='hidden', value='{{this.id}}')
          br
          div
            div.well
              | {{#if this.hint}}
              textarea.form-control(name='hint', rows='3') {{this.hint}}
              | {{else}}
              textarea.form-control(name='hint', rows='3', placeholder='No hints available for this challenge.')
              | {{/if}}
          div.pull-right
            div.checkbox
              label
                | {{#if this.hidden}}
                input(type='checkbox', name='hidden', value='1' checked)
                | {{else}}
                input(type='checkbox', name='hidden', value='1')
                | {{/if}}
                | Hidden
            button.btn.btn-success(type='submit') Save Changes
      form(action='./admin-challenges', method='post', style='position: relative; top: -54px; left: 15px;', onsubmit="return confirm('Do you really want to delete challenge \"{{this.name}}\"?');")
        // 39px height of button + 15px padding of panel
        input(name='action', type='hidden', value='delete')
        input(name='id', type='hidden', value='{{this.id}}')
        div.pull-left
          button.btn.btn-danger(type='submit') Delete Challenge
    br
    | {{/each}}
div.modal.fade#add-challenge-modal(tabindex='-1', role='dialog')
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal') #[span &times;]
        h4.modal-title#add-challenge-modal-label Add Challenge
        form(action='./admin-challenges', method='post')
          div.modal-body
            input.form-control(type='text', name='index', value='{{this.index}}', placeholder='Index', required)
            br
            input.form-control(type='text', name='name', value='{{this.name}}', placeholder='Challenge Name', required)
            br
            input.form-control(type='text', name='points', value='{{this.points}}', placeholder='Point Value', required)
            br
            textarea.form-control#description(name='description', rows='5', placeholder='Description', required)
            br
            input.form-control(type='text', name='answer', placeholder='Answer', required)
            br
            textarea.form-control(name='hint', rows='3', placeholder='Hint')
          div.modal-footer
            input(name='action', type='hidden', value='add')
            button.btn.btn-success(type='submit') Add Challenge
| {{else}}
div.jumbotron
  div.container
    h1 Access Denied
    br
    br
    a.btn.btn-primary(href='./') Go Home
| {{/isAdmin}}
div#particles-js
