div.jumbotron#faq
  div.container
    h1 FAQ
    div.panel.panel-default
      div.panel-heading
        h3.panel-title What is a CTF?
      div.panel-body
        span CTFs (short for capture the flag) are a type of computer security competition. Contestants are presented with a set of challenges which test their creativity, technical (and googling) skills, and problem-solving ability. Challenges usually cover a number of categories (see below), and when solved, each yields a string (called a flag).
    div.panel.panel-default
      div.panel-heading
        h3.panel-title Who is this for?
      div.panel-body
        span The competition was open to middle school and high school (6th - 12th grade) students from the United States.
    div.panel.panel-default
      div.panel-heading
        h3.panel-title When will this occur?
      div.panel-body
        span To be determined.
    div.panel.panel-default
      div.panel-heading
        h3.panel-title What do you consider cheating?
      div.panel-body
        span Attacking the scoring server, other teams, or machines not explicitly designated as targets is cheating. This includes both breaking into such machines and denying others access to them (for example, by altering a key or ping-flooding). Sharing keys or providing overly-revealing hints with other teams is cheating, as is being directly assisted by personnel outside the team (using tools from the internet is OK; asking people on the internet to help you solve the problem is not). We encourage you to solve problems in novel and creative ways using all available resources, but we do require that you solve them yourselves.
    div.pull-right
      a.btn.btn-primary(href='/register') Register Now &raquo;
    div.clearfix
    hr
    span Courtesy of https://picoctf.com/faq
div#particles-js
