| {{#if user}}
div.jumbotron
  div.container
    div.page-header
      h1 Hi, {{user.username}}
      h2 Welcome to CTF 2015.
    p You're all ready to go! You have {{user.points}} points.
    br
    a.btn.btn-success(href='./play') Enter the Arena &raquo;
| {{else}}
div.jumbotron
  div.container
    div.row.text-center
      div.col-md-12#home-text
        h1 Welcome to CTF 2015.
        p Dates TBD
        a.btn.btn-primary(href='/register') Register &raquo;
| {{/if}}
div#particles-js
