div.jumbotron
  div.container
    div.row
      div.col-md-6.col-md-offset-3
        h2 Log In
        | {{#if loginMessage}}
        div.alert.alert-danger
          p  {{loginMessage}}
        | {{/if}}
        form#local-sign-in(action='/login', method='post')
            div.form-group
              label(for='username') Team Name
              input.form-control#username(type='text', name='username', required)
            div.form-group
              label(for='password') Password
              input.form-control#password(type='password', name='password', required)
            div.form-group.text-right
              button.btn.btn-primary(type='submit') Log In &raquo;
div#particles-js
