<div id="questionPopupModal" class="modal popup" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="m-auto">
        <header class="d-flex flex-row app_header">
            <div class="justify-content-start"><img src="/static/images/my_documents.png" class="header_icon" alt="">
            </div>
            <div class="ml-1"><strong class="question-type"></strong></div>
            <div class="d-flex ml-auto"><button class="closeIcon"></button></div>
        </header>
        <div class="d-flex flex-row toolbar" style="height: 24px">
            <div class="nav">
                <div class="nav-item p-1 toolbar-1"><a href="">File</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Edit</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">View</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Favorites</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Tools</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Help</a> </div>
            </div>
        </div>
        <div class="d-flex flex-row toolbar" style="height: 36px">
            <div class="back-button"><img class="function_bar__icon"
                        src="./static/images/back.png" alt=""><span class="function_bar__text">Back</span>
                    <div class="function_bar__arrow"></div>
                </div>
                <div class="back-button"><img class="function_bar__icon"
                        src="./static/images/front.png" alt="">
                    <div class="function_bar__arrow"></div>
                </div>
                <div class="function_bar__button"><img class="function-bar-icons"
                        src="./static/images/backfolder.png" alt=""></div>
                <div class="function_bar__separate"></div>
                <div class="function_bar__button"><img class="function-bar-icons "
                        src="./static/images/search.png" alt=""><span class="function_bar__text">Search</span>
                </div>
                <div class="function_bar__button"><img class="function-bar-icons"
                        src="./static/images/savefolder.png" alt=""><span class="function_bar__text">Folders</span>
                </div>
                <div class="function_bar__separate"></div>
                <div class="function_bar__button"><img class="function-bar-icons"
                        src="./static/images/folderview.png" alt="">
                    <div class="function_bar__arrow"></div>
                </div>

        </div>
        <div class="d-flex flex-row toolbar" style="height: 20px">
            <div class="address_bar_title mb-2">Address</div>
                <div class="address_bar_content"><img src="./static/images/my_computer.png" alt="ie"
                        class="address_bar_img_1">
                    <div class="address_bar_content_text question-title ml-1">My Computer</div><img src="./static/images/dropdown.png"
                        alt="dropdown" class="address_bar_img">
                </div>
                <div class="address_bar_go"><img class="address_bar_go_img" src="./static/images/next.png"
                        alt="go"><span class="address_bar_go_text ml-1">Go</span>
                </div>
        </div>

        <!-- Main content -->
        <div class="d-flex flex-row">
            <div class="w-25 left_panel">
                <div class="d-flex flex-column p-3">
                    <div class="content__left__card">
                            <div class="content__left__card__header">
                                <div class="content__left__card__header__text">Contact Details</div><img
                                    src="./static/images/left_arrow.png" alt=""
                                    class="content__left__card__header__img">
                            </div>
                            <div class="content__left__card__content">
                                <div class="content__left__card__row"><img class="left-panel-img"
                                        src="./static/images/left_panel_1.png" alt="view">
                                    <div class="left-panel-text link ml-1">Lakshay - 9814112124</div>
                                </div>
                                <div class="content__left__card__row"><img class="left-panel-img"
                                        src="./static/images/left_panel_2.png" alt="remove">
                                    <div class="left-panel-text link ml-1">Saurav - 9912353455</div>
                                </div>
                            </div>
                        </div>
                        <div class="content__left__card">
                            <div class="content__left__card__header">
                                <div class="content__left__card__header__text">Events by ctf</div><img
                                    src="./static/images/left_arrow.png" alt="" class="content__left__card__header__img">
                            </div>
                            <div class="content__left__card__content">
                                <div class="content__left__card__row"><img class="left-panel-img"
                                        src="./static/images/left_panel_4.png" alt="network">
                                    <div class="left-panel-text link ml-1"><a href="https://ctfvit.com" target="_blank">devspace.ctfvit.com</a></div>
                                </div>
                                <div class="content__left__card__row"><img class="left-panel-img"
                                        src="./static/images/left_panel_5.png" alt="document">
                                    <div class="left-panel-text link ml-1"><a href="https://clickbait.ctfvit.com" target="_blank">clickbait.ctfvit.com</a></div>
                                </div>
                                <div class="content__left__card__row"><img class="left-panel-img"
                                        src="./static/images/left_panel_6.png" alt="folder">
                                    <div class="left-panel-text link ml-1"><a href="https://riddler.ctfvit.com" target="_blank">riddler.ctfvit.com</a></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="w-75 right_panel" style="overflow-y: scroll">
                <div class="d-flex flex-row p-3">
                    <div id="question-data" class="w-100 row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>