<div id="endPopup">
    <div class="m-auto popupContainer">

        <div class="topBar p-2 d-flex justify-content-between">
            <div><strong>Thank You!</strong></div>
            <div></div>
            <div class="closeIcon"></div>
        </div>

        <div class="logoContainer p-5">
            <img src="/static/images/logo.png">
        </div>

        <div>
            <hr class="accent-popup orange-accent-popup">
        </div>

        <div class="success-message pl-3 py-4">
    <br>
    <p>
      <span style="font-weight: bold; color: black">Greetings from CSI-VIT!</span><br>

      <div stlye="color: black;">Thank You for playing the CSI-CTF! We hope that you had fun.<br><br></div>
      <div style="color: black">We would love to know how was your experience playing this CTF and get any suggestions so you have an even better experience the next time.</div>
      <div style="color: black">You loved this? Check out our other events too!</div><br>
      <div style="color: rgb(248, 252, 10)"><a href="https://clickbait.csivit.com"><div style="color: rgb(182, 179, 3)"><b>CLICKBAIT</b></div></a></div>
      <div style="color: rgb(252, 67, 10)"><a href="https://lasertag.csivit.com"><div style="color: rgb(252, 67, 10)"><b>LASERTAG</b></div></a></div><br>
     <div style="color: black">Happy Hacking!</div><br>
<div class="formContainer pl-3 py-1">

        <div class="align-items-center m-1">
            <div class="tags d-inline-block">Username: *</div>
            <input type="text" name="username" required>
        </div>
        <div class="align-items-center m-1">
            <div class="tags d-inline-block ">Feedback: *</div>
            <input type="text" name="feedback" required>
        </div>
        <div class="row">
            <div class="ml-auto mr-auto">

        <button class="ml-2 mt-1 end-submit">Submit</button>
            </div>

        </div>
</div>
      <div>Regards,<br>CSI-VIT</div><br>
    </p>
        Happy Hacking!
    </div>
    </div>
</div>