<div id="errorModal" class="modal" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="m-auto popupContainer width" style="background-color: rgb(237,233,210)">
        <header class="d-flex flex-row app_header pr-1 pt-1">
            <div class="justify-content-start">
            </div>
            <div class="mt-1 ml-1"><strong>Uh-oh</strong></div>
            <div class="d-flex ml-auto"><button class="close-error" data-dismiss="modal"></button></div>
        </header>
        
        <!-- Main content -->
        <div class="d-flex p-2">
            <img src="/static/images/error.png" style="width: 30px; height:30px" class="start-icons" alt="">
            <div class="message pl-2 pb-4"></div><br>
        </div>
            <div class="d-flex justify-content-center pb-3"><button data-dismiss="modal">OK</button></div>
    </div>
</div>