<div id="forgotPasswordPopup" class="modal mt-2" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="m-auto popupContainer">

        <div class="topBar p-2 d-flex justify-content-between align-items-center">
            <div><strong>Forgot Password</strong></div>
            <div></div>
            <button data-dismiss="modal" class="closeIcon"></button>
        </div>

        <div class="logoContainer p-5">
            <img src="/static/images/logo.png">
        </div>

        <div>
            <hr class="accent-popup orange-accent-popup">
        </div>
        <div id="resetPasswordForm" class="formContainer pl-3 py-4">
                <p class="m-2">Enter your account email ID. We will send you an email with further instructions to recover your account.</p>
                <div class="align-items-center m-2">
                    <div class="tags d-inline-block">Email: *</div>
                    <input type="text" name="forgotPassword-email">
                </div>
                <button class="ml-3" id="forgotPasswordBtn">Submit</button>
                <button data-dismiss="modal" aria-label="Close" class="ml-3">Cancel</button>
        </div>
        <div id="postResetContent" class="formContainer pl-3 py-4">
            We have sent you an email
        </div>
    </div>
</div>