<div id="leaderBoardPopup" class="modal" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="m-auto" style="background-color: #eaedda; width: 600px;">
        <header class="d-flex flex-row app_header" style="height: 30px">
            <div class="justify-content-start"><img src="/static/images/my_documents.png" class="header_icon" alt="">
            </div>
            <div><strong>Windows Task Manager</strong></div>
            <div class="d-flex ml-auto"><button class="close-leaderboard" data-dismiss="modal"></button></div>
        </header>
        <div class="d-flex flex-column p-2">
            <p>Leaderboard</p>
            <ul class="nav nav-tabs">
                <li class="nav-item question-nav rounded-top active-nav">
                    <a data-toggle="tab" href="#menu1" class="nav-link active p-0 pl-1 pr-3  tmngr_btn"
                        id="leaderboard_names">Leaderboard</a>
                </li>
                <li class="nav-item question-nav rounded-top">
                    <a data-toggle="tab" href="#menu2" class="nav-link p-0 pl-1 pr-3 tmngr_btn"
                        id="leaderboard_processes" tabindex="-1">Processes</a>
                </li>
                <li class="nav-item question-nav rounded-top">
                    <a data-toggle="tab" href="#menu3" class="nav-link p-0 pl-1 pr-3 tmngr_btn"
                        id="leaderboard_performance" tabindex="-1">Performance</a>
                </li>
                <li class="nav-item question-nav rounded-top">
                    <a data-toggle="tab" href="#menu4" class="nav-link p-0 pl-1 pr-3 tmngr_btn"
                        id="leaderboard_networking" tabindex="-1">Networking</a>
                </li>
                <li class="nav-item question-nav rounded-top">
                    <a data-toggle="tab" href="#menu5" class="nav-link p-0 pl-1 pr-3 tmngr_btn" id="leaderboard_users"
                        tabindex="-1">Users</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="menu1" class="tab-pane active leaderboard_display_names"></div>
            </div>
            <div class="p-2 question-container">
                <div class="p-2" id="leaderboard-content">
                        
                </div>
            </div>

            <div class="d-flex justify-content-center p-2"><button class="closebtn pl-4 pr-4"
                    data-dismiss="modal">Close</button></div>
        </div>
    </div>
</div>