<div id="loginerrorModal" class="modal" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="m-auto popupContainer">
        <header class="d-flex flex-row app_header" style="height: 30px">
            <div class="justify-content-start">
            </div>
            <div><strong>Uh-oh</strong></div>
            <div class="d-flex ml-auto"><button class="close-success"></button></div>
        </header>
        
        <!-- Main content -->
        
        <div class="message p-4"></div>
    </div>
</div>