<div id="singlePopupModal" class="modal" role="dialog" aria-hidden="true" tabindex="-1" modal-backdrop="false">
    <div class="m-auto popupContainer" style="background-color: #eaedda; width: 600px;">
        <header class="d-flex flex-row app_header" style="height: 30px">
                <div class="justify-content-start"><img src="/static/images/my_documents.png" class="header_icon" alt=""></div>
                <div class="ml-1"><strong class="question-name"></strong></div>
                <div class="d-flex ml-auto"><button class="closeQuestion"></button></div>
        </header>
        <div class="d-flex flex-column p-2">
            <div id="question-catagory"></div>
            <nav class="nav nav-tabs">
                <li class="nav-item question-nav rounded-top active-nav">
                    <a class="nav-link py-1 px-2" id="question_text" href="">Question</a>
                </li>
                <li class="nav-item question-nav rounded-top">
                    <a class="nav-link py-1 px-2" id="trend" href="" tabindex="-1">Trend</a>
                </li>
                <li class="nav-item question-nav rounded-top">
                        <a class="nav-link py-1 px-2" id="no_of_people" href="" tabindex="-1">No of people Solved</a>
                </li>
            </nav>
                <div class="p-2 question-container">
                    <div class="p-2" id="nav_content">
                        
                    </div>
                </div>
                    <div class="d-flex flex-row pt-2 w-100 no-gutters" id="submit-div">
                        
                    </div>

                    <div class="d-flex justify-content-center p-2"><button class="closebtn pl-4 pr-4 popup-button" data-dismiss="modal">Close</button></div>
        </div>
    </div>
</div>
