<div id="registerPopup" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog popupContainer" role="document">
        <div class="m-auto">

            <div class="topBar p-2 d-flex justify-content-between">
                <div><strong>Sign Up for CTF</strong></div>
                <div></div>
                <img data-dismiss="modal" aria-label="Close" src="/static/images/closeIcon.png">
            </div>

            <div class="logoContainer p-5">
                <img src="/static/images/logo.png">
            </div>

            <div>
                <hr class="accent-popup orange-accent-popup">
            </div>

            <div class="formContainer pl-3 py-4">
                <form id="registerForm">
                    <div class="align-items-center m-2">
                        <div class="tags d-inline-block">Name: *</div> <input type="text" name="name">
                    </div>
                    <div class="align-items-center m-2">
                        <div class="tags d-inline-block">Username: *</div> <input type="text" name="username">
                    </div>
                    <div class="align-items-center m-2">
                        <div class="tags d-inline-block">Password: *</div> <input type="password" name="password">
                    </div>
                    <div class="align-items-center m-2">
                        <div class="tags d-inline-block">Reg. No:</div> <input type="text" name="regNo">
                    </div>
                    <div class="align-items-center m-2">
                        <div class="tags d-inline-block">Email: *</div> <input type="text" name="email">
                    </div>
                    <div class="align-items-center m-2">
                        <div class="tags d-inline-block">Phone: *</div> <input type="text" name="phoneNo">
                    </div>
                    <div class="d-flex justify-content-end px-4 mt-4">
                        <button type="submit" class="ml-3" id="registerSubmitBtn">Submit</button>
                        <button data-dismiss="modal" aria-label="Close" class="ml-3">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>