<div id="rulesPopup" class="modal popup" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="m-auto">
        <header class="d-flex flex-row app_header">
            <div class="justify-content-start"><img src="/static/images/my_documents.png" class="header_icon" alt="">
            </div>
            <div class="ml-1"><strong class="rules-heading"></strong>Rules</div>
            <div class="d-flex ml-auto"><button class="close-notepad" data-dismiss="modal"></button></div>
        </header>
        <div class="d-flex flex-row toolbar" style="height: 24px">
            <div class="nav">
                <div class="nav-item p-1 toolbar-1"><a href="">File</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Edit</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">View</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Favorites</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Tools</a> </div>
                <div class="nav-item p-1 toolbar-1"><a href="">Help</a> </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="notepad">
            1.	Participants should work INDEPENDENTLY. Sharing answers privately or publicly, or collaborating with another team constitutes cheating and will result in DISQUALIFICATION.<br><br>
            2.	Attacking the CTF infrastructure ruins the fun for everyone. Unless a challenge explicitly calls for such an attack, it is STRICTLY FORBIDDEN to perform any kind of Denial of Service Attack (DoS/DDoS) against the servers or the competition's infrastructure.<br><br>
            3.	Brute forcing of flags is NOT TOLERATED or recommended.<br><br>
            4.	Automatic vulnerability scanners such as SQLmap are PROHIBITED.<br><br>
            5.	Flags should be submitted as they are found rather than hoarding flags and submitting them all at once. Participants that submit flags in quick succession may be asked to provide write-ups.<br><br>
            6.	Participants are NOT allowed to publish solutions during the course of game (blog, GitHub, YouTube, etc)<br><br>
            7.	Any participants found violating the above rules will be DISQUALIFIED from the contest. In such matters, CSI reserves the right to disqualify participants for breaking any of the rules.<br><br>
            8.	CSI reserves the right to introduce new rules or modify existing rules during or after the contest. Any such rules will be applicable to all the participants in the contest.<br><br>
            9.	For those who think they can hack the server, proceed at your own risk. High risk high reward.<br><br>
            10. External participants (other than students of VIT) are NOT eligible for a cash prize.<br><br>
    </div>
</div>