<div id="successPopup">
    <div class="m-auto popupContainer">

        <div class="topBar p-2 d-flex justify-content-between">
            <div><strong>Registration Successful!</strong></div>
            <div></div>
            <img src="/static/images/closeIcon.png">
        </div>

        <div class="logoContainer p-5">
            <img src="/static/images/logo.png">
        </div>

        <div>
            <hr class="accent-popup orange-accent-popup">
        </div>

        <div class="success-message pl-3 py-4">
        Congratulations! Your email has been successfully verified.
        <br>
        Happy Hacking!
        </div>
    </div>
</div>
