<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        // Full screen and blue screen
        #fullscreen {
            display: none;
        }

        #bluescreen {
            font-family: 'Lucida Console';
            width: 100%;
            padding-top: 0px;
            height: 100%;
            background: #010080;
            color: white;
            cursor: none;
            font-size: 1.47rem;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        #bluescreen p {
            margin-bottom: 12px;
        }

        /* These -prefix-full-screen must be seperated */
        :-webkit-full-screen {
            display: block !important;
        }

        :-moz-full-screen {
            display: block !important;
        }

        :full-screen {
            display: block !important;
        }

        :-moz-full-screen #bluescreen {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -320px;
        }


        #top {
            margin-top: 20px;
            height: 90%;
            position: relative;
        }

        #jinseiOwata {
            font-family: IPAMonaPGothic, 'IPA モナー Pゴシック', Monapo, Mona, 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif;
            font-size: 16px;
            line-height: 18px;
            width: 100%;
            left: 0;
            top: 50%;
            position: absolute;
        }

        #click {
            font-family: IPAMonaPGothic, 'IPA モナー Pゴシック', Monapo, Mona, 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif;
            font-size: 16px;
            line-height: 18px;
            display: block;
            background: none;
            text-align: center;
            margin: 0 auto;
            border: 1px #000 solid;
            outline: 0;
            width: 250px;
            padding: 30px;
            cursor: pointer;
        }

        #owata {
            padding: 50px 0 0 30%;
            border-bottom: 1px #000 solid;
        }
    </style>
    <script>
        var bluescreen = document.getElementById('bluescreen'),
            // isInIFrame = (window.location != window.parent.location) ? true : false;
            isInIFrame = window.location.href.indexOf('s.codepen.io/eky/fullpage/') >= 0 ? true : false;
        fullscreen = document.getElementById('fullscreen'),
            isFs = false,
            notSupportFullscreenAPI = !fullscreen.webkitRequestFullScreen && !fullscreen.mozRequestFullScreen && !fullscreen.requestFullScreen;

        // Outdated stuff
        isInIFrame = false;

        if (notSupportFullscreenAPI) {
            document.getElementById('click').innerHTML = 'Your browser does not support full screen API.';
            document.getElementById('owata').innerHTML = "／^o^＼";
        } else if (isInIFrame) {
            document.getElementById('click').innerHTML = 'Please view in <a href="https://codepen.io/eky/pen/xlwhH" target="_parent">editor page</a>.';
            document.getElementById('owata').innerHTML = "／^o^＼";
        } else {
            var target = document.getElementById('click');
            target.addEventListener("click", function (event) {
                if (fullscreen.webkitRequestFullScreen)
                    fullscreen.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                else if (fullscreen.mozRequestFullScreen)
                    fullscreen.mozRequestFullScreen();
                else
                    fullscreen.requestFullScreen();
            }, false);

            var screenRatio = screen.width / screen.height;
            bluescreen.style.height = 1920 / screenRatio + 'px';
            if (fullscreen.mozRequestFullScreen)
                bluescreen.style.marginTop = '-' + (1920 / screenRatio / 2) + 'px';
            var widthRatio = screen.width / 1080;
            var heightRatio = screen.height / (1080 / screenRatio);

            var fsChange = function (event) {
                if (!isFs) {
                    bluescreen.style.WebkitTransform = 'scale(' + widthRatio + ')';
                    bluescreen.style.MozTransform = 'scale(' + widthRatio + ')';
                    bluescreen.style.transform = 'scale(' + widthRatio + ')';
                    bluescreen.style.transformOrigin = '0 0';
                }
                isFs = isFs ? false : true;
            };

            fullscreen.onwebkitfullscreenchange = fsChange;
            fullscreen.onmozfullscreenchange = fsChange;
            fullscreen.onfullscreenchange = fsChange;
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
</head>

<body bgcolor="#010080">
    <div id="fullscreen" style="width: 100%">
        <div id="bluescreen">
            {{!-- <p>A problem has been detected and browser has been go fullscreen to prevent<br />
                damage to your computer.</p>
            <p>REQUEST_FULL_SCREEN</p>
            <p>If this is the first time you've seen this stop error screen,<br />
                restart your computer. If this screen appears again, follow these steps:</p>
            <p>Check to make sure any new hardware or software is properly installed.<br />
                If this is a new installation, ask your hardware or software manufacturer<br />
                for any updates you might need.</p>
            <p>If problems continue disable or remove any newly installed hardware<br />
                or software. Disable BIOS memory options such as caching or shadowing.<br />
                If you need to use Safe Mode to remove or disable components, restart<br />
                your computer, press F8 to select Advanced Startup Options, and then <br />select Safe Mode.</p>
            <p>Or just press Esc or F11.</p>
            <p>Technical information: <br /><br />
                ***STOP: 0x00000054 (0x68697320, 0x00000069, 0x73206661, 0x00006B65)<br /></p> --}}

            <p>
                If this is the first time you've seen this error screen,<br>
                restart your computer. If this screen appears again, follow<br>
                these steps:<br>
                <br>
                <br>
                <br>
                404_PAGE_NOT_FOUND 0x000000404
                <br>
                <br>
                <br>
                Check to make sure any new hardware or software is properly installed.<br>
                If this is a new installation, ask your hardware or software manufacturer<br>
                for any Windows updates you might need.<br>
                <br>
                If problems continue, disable or remove any newly installed hardware<br>
                or software. Disable BIOS memory options such as caching or shadowing.<br>
                If you need to use Safe Mode to remove or disable components, restart<br>
                your computer, press F8 to select Advanced Startup Options, and then<br>
                Select Safe Mode<br>
            </p>
            <p>If problems continue disable or remove any newly installed hardware<br />
                or software. Disable BIOS memory options such as caching or shadowing.<br />
                If you need to use Safe Mode to remove or disable components, restart<br />
                your computer, press <a href= '/home'>F8</a> to select Advanced Startup Options, and then <br />select Safe Mode.</p>
            <p>Or just go back to ctf.csivit.com</p>
            <p>Technical information: <br /><br />
                ***STOP: 0x000000404 (0x68697320, 0x00000069, 0x73206661, 0x00006B65)<br /></p>
        </div>
    </div>
</body>

</html>