
<div id="faq" class="jumbotron">
  <div class="container">
    <h1>FAQ</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What is a CTF?</h3>
      </div>
      <div class="panel-body"><span>CTFs (short for capture the flag) are a type of computer security competition. Contestants are presented with a set of challenges which test their creativity, technical (and googling) skills, and problem-solving ability. Challenges usually cover a number of categories (see below), and when solved, each yields a string (called a flag).</span></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Who is this for?</h3>
      </div>
      <div class="panel-body"><span>The competition was open to middle school and high school (6th - 12th grade) students from the United States.</span></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">When will this occur?</h3>
      </div>
      <div class="panel-body"><span>To be determined.</span></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What do you consider cheating?</h3>
      </div>
      <div class="panel-body"><span>Attacking the scoring server, other teams, or machines not explicitly designated as targets is cheating. This includes both breaking into such machines and denying others access to them (for example, by altering a key or ping-flooding). Sharing keys or providing overly-revealing hints with other teams is cheating, as is being directly assisted by personnel outside the team (using tools from the internet is OK; asking people on the internet to help you solve the problem is not). We encourage you to solve problems in novel and creative ways using all available resources, but we do require that you solve them yourselves.</span></div>
    </div>
    <div class="pull-right"><a href="/register" class="btn btn-primary">Register Now &raquo;</a></div>
    <div class="clearfix"></div>
    <hr/><span>Courtesy of https://picoctf.com/faq</span>
  </div>
</div>
<div id="particles-js"></div>