<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h3>Its a popup</h3>
        <p>input field for email here. User enters his mail here. Tell him all further steps to be folowed in the mail given. YOu may now close this tab</p>
        <br>
    </div>
   
</body>

</html>