{{#if user}}
<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Hi, {{user.username}}</h1>
      <h2>Welcome to CTF 2015.</h2>
    </div>
    <p>You're all ready to go! You have {{user.points}} points.</p><br/><a href="./play" class="btn btn-success">Enter the Arena &raquo;</a>
  </div>
</div>{{else}}
<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <div id="home-text" class="col-md-12">
        <h1>Welcome to CTF 2015.</h1>
        <p>Dates TBD</p><a href="/register" class="btn btn-primary">Register &raquo;</a>
      </div>
    </div>
  </div>
</div>{{/if}}
<div id="particles-js"></div>