<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.2.0/handlebars.js"></script>
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/popup.css">
    <script src="static/js/win.js"></script>
    <script src="static/js/questions.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid h-100 w-100">
        <img src="./static/images/windows.jpg" alt="background" class="bg">
        <div class="d-inline-flex flex-column">
            <div class="p-4 d-flex flex-column icon">
                <div class="d-flex flex-column">
                    <button type="button" class="btn questionPopup desktop-icon" name="baby" data-toggle="modal">
                        <div class="icon-container">
                            <img src="static/images/my_documents.png" alt="">
                            <div class="col"></div>
                        </div>
                        <span class="desktop-text">Baby</span>
                    </button>
                    <br>
                    <button type="button" class="btn questionPopup desktop-icon" name="easy" data-toggle="modal">
                        <div class="icon-container">
                            <img src="static/images/my_documents.png" alt="">
                            <div class="col"></div>
                        </div>
                        <span class="desktop-text">Easy</span>
                    </button>
                    <br>
                    <button type="button" class="btn questionPopup desktop-icon" name="medium" data-toggle="modal">
                        <div class="icon-container">
                            <img src="static/images/my_documents.png" alt="">
                            <div class="col"></div>
                        </div>
                        <span class="desktop-text">Medium</span>
                    </button>
                    <br>
                    <button type="button" class="btn questionPopup desktop-icon" name="hard" data-toggle="modal">
                        <div class="icon-container">
                            <img src="static/images/my_documents.png" alt="">
                            <div class="col"></div>
                        </div>
                        <span class="desktop-text">Hard</span>
                    </button>
                    <br>
                    <button type="button" class="btn questionPopup desktop-icon" name="solved" data-toggle="modal">
                        <div class="icon-container">
                            <img src="static/images/recycle_bin.png" alt="">
                            <div class="col"></div>
                        </div>
                        <span class="desktop-text">Solved</span>
                    </button>
                </div>
                <div class="d-inline-flex ">
                </div>
            </div>

        </div>

        <footer class="bottom position-fixed p-0">
            <div class="dropup">
                <button data-toggle="dropdown" class="start_button" style="margin-left: -6px">
                    <img src="/static/images/start.png" class="footer_start h-100 position-relative">
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu footer_start_menu" style="margin-left: -6px">
                    <div class="abc">
                        <header class="d-felx align-self-center w-100">
                            <img src="/static/images/chess.jpg" class="header_img" alt="Chess">
                            <span class="header-text">User</span>
                        </header>
                        <section class="menu d-flex flex-row position-relative">

                            <div class="menu_left d-flex flex-column align">
                                <div class="participant p-1 winner">Hello</div>
                                <div class="participant p-1 winner">CSI CTF</div>
                                <div class="participant p-1 winner">CSI CTF</div>
                                <div class="menu_seperator "></div>
                                <div class="participant p-1">CSI CTF</div>
                                <div class="participant p-1">CSI CTF</div>
                                <div class="participant p-1">CSI CTF</div>
                                <div class="participant p-1">CSI CTF</div>
                                <div class="participant p-1">CSI CTF</div>
                                <div class="participant p-1">CSI CTF</div>
                                <div class="participant p-1">CSI CTF</div>
                                <div class="menu_seperator "></div>

                                <div class="dropright"><button class="btn participant all_programs">Leaderboard<img
                                            src="/static/images/allprograms.ico" alt=""></button>

                                </div>
                            </div>
                            <div class="menu_right d-flex flex-column">
                                <div class="csi_info winner">CSI</div>
                                <div class="csi_info winner">Computer Society of India</div>
                                <div class="menu_seperator "></div>
                                <div class="csi_info winner">Events</div>
                                <div class="csi_info"><a href="https://clickbait.csivit.com"
                                        style="text-decoration: none">Clickbait</a></div>
                                <div class="csi_info"><a href="https://lasertag.csivit.com"
                                        style="text-decoration: none">Lasertag</a></div>
                                <div class="menu_seperator "></div>
                            </div>
                        </section>
                        <footer class="d-flex flex-row">
                            <div class="ml-auto p-1 power_buttons"><a href="/index.html" style="color: white;"><img
                                        src="/static/images/logoff.png" class="p-1" style="width:30px; height:30px"
                                        alt="">Log off</a></div>
                            <div class="p-1 power_buttons"><a href="https://google.com" style="color: white;"><img
                                        src="/static/images/poweroff.png" class="p-1" style="width:30px; height:30px"
                                        alt="">Turn off computer</a></div>
                        </footer>
                    </div>
                </div>
            </div>
        </footer>






        <!-- document popup-->
        {{> docPopup }}

        <!-- questionPopup-->
        {{> questionPopup}}

        <!-- SuccessPopup -->
        {{> successModal }}
    </div>

</body>

</html>