<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset for CSI-CTF</title>
</head>

<body>
    <p>
        Click <a href="{{vLink}}">here </a> to reset your CTF Password.
    </p>
</body>

</html>