<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/success.css">
    <link rel="stylesheet" href="/static/css/regPopup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Success - ctf-CTF</title>
</head>
<body>
  <p>Hi {{name}}! Enter your new password for ctf.ctfvit.com:</p>
  <form method="POST" action="/auth/updatePassword">
    <input type="hidden" value="{{token}}" name="token">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">Reset Password</button>
  </form>
</body>
</html>
