<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid w-100 h-100">
        <div class="d-flex flex-column h-100">
            <div class="bar"></div>
            <div>
                <hr class="accent white-accent">
            </div>
            <div class="h-75 main-content d-flex justify-content-center align-items-center flex-column">
                <div class="h-75 w-75 d-flex">
                    <div class="left-section w-50 py-5 pr-5">
                        <div class="d-flex align-items-end justify-content-center flex-column h-100">
                            <div class="main-logo">
                                <img src="/static/images/logo.png" class="ctfLogo" alt="" srcset="">
                            </div>
                            <strong class="xp-text logo-text mt-3">To begin, click signup</strong>
                        </div>
                    </div>
                    <div class="right-section w-50 pl-5">
                        <div class="d-flex align-items-start justify-content-center flex-column h-100">
                            <div class="windows-user row align-items-top py-2 px-2 w-100">
                                <img src="/static/images/chess.jpg" alt="" class="user-profile-pic">
                                <strong class="ml-3 xp-text">Sign Up</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr class="accent orange-accent">
            </div>
            <div class="bar py-2 px-4">
                <div class="d-flex justify-content-between align-items-center h-100">
                    <div class="shutdown-container align-items-center">
                        <img src="/static/images/shutdownIcon.png" alt="" class="shutdown-icon">
                        <strong class="ml-3 xp-text logo-text">Turn off computer</strong>
                    </div>
                    <div></div>
                    <div class="xp-text bottom-text">
                        <a href="http://csivit.com">
                        <img src="https://csivit.com/demo-images/CSI_logo_Light.png" class="csi-logo" alt="" srcset="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>