<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/regPopup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid w-100 h-100">
        <div class="d-flex flex-column h-100">
            <div class="flex-grow-1 bar"></div>
            <div class="h-75 main-content d-flex justify-content-center align-items-center flex-column">
                <div class="h-75 w-75 d-flex">
                    <div class="left-section flex-grow-1 p-5">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="p-2"></div>
                        </div>
                    </div>
                    <div class="right-section flex-grow-1 p-5">
                        <div class="d-flex align-items-start justify-content-center flex-column h-100">
                            <div class="windows-user row align-items-top">
                                <img src="/static/images/chess.jpg" alt="" class="user-profile-pic">
                                <strong class="ml-4 user-name">Sign Up</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 bar"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
