.topBar {
	border-radius: 10px 10px 0 0;

	background-image: linear-gradient(
		to bottom,
		white,
		#1a6fe3 7%,
		#1a6fe3 60%,
		#167bf9 94%,
		rgb(11, 11, 88)
	);
	font-size: 1.3rem;
	color: white;
	font-family: "Trebuchet MS", "Arial";
}
#questionPopupModal{
	position: absolute;
	height: auto;
	width: 750px;
	left: 50vh;
	top: 20vh;
	border: 4px solid #1b70e5;
	border-top: 0px;
	border-radius: 10px 10px 0 0;
}
#rulesPopup{
	position: absolute;
	height: auto;
	width: 750px;
	left: 50vh;
	top: 20vh;
	border: 4px solid #1b70e5;
	border-top: 0px;
	border-radius: 10px 10px 0 0;
}
#singlePopupModal{
	position: absolute;
	width: 606px;
	height: auto;
	left: 57vh;
	top: 18vh;
	border: 4px solid #1b70e5;
	border-top: 0px;
	border-radius: 10px 10px 0 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
}

#leaderBoardPopup{
	position: absolute;
	width: 606px;
	height: auto;
	left: 57vh;
	top: 3vh;
	border: 4px solid #1b70e5;
	border-top: 0px;
	border-radius: 10px 10px 0 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
}

.modal-backdrop {
    z-index: 1040 !important;
}
.question-container {
	height: 350px;
	overflow-y: scroll;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

.leaderboard-container {
	height: 650px;
	overflow-y: scroll;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
}

#errorModal{
	position: absolute;
	height: auto;
	width: 370px;
	top: 42vh;
	left: 70vh;
	border: 4px solid #1b70e5;
	border-top: 0px;
	border-radius: 10px 10px 0 0;
}


header::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 3px;
    box-shadow: rgb(14, 96, 203) 0px -1px 1px inset;
    background: linear-gradient(to right, transparent 0px, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.5) 2%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 0.3) 98%, rgba(255, 255, 255, 0.2) 99%, transparent 100%);
}

header {
    align-items: center;
    color: rgb(255, 255, 255);
    height: 54px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px 5px 5px;
    background: linear-gradient(rgb(24, 104, 206) 0%, rgb(14, 96, 203) 12%, rgb(14, 96, 203) 20%, rgb(17, 100, 207) 32%, rgb(22, 103, 207) 33%, rgb(27, 108, 211) 47%, rgb(30, 112, 217) 54%, rgb(36, 118, 220) 60%, rgb(41, 122, 224) 65%, rgb(52, 130, 227) 77%, rgb(55, 134, 229) 79%, rgb(66, 142, 233) 90%, rgb(71, 145, 235) 100%);
    overflow: hidden;
}

.header_icon{
    height: 16px;
    width: 16px;
}


.message {
	background-color: rgb(237,233,210);
}

.app_header{
	font-weight: 700;
	font-size: 14px;
	height: 30px;
    text-shadow: rgb(0, 0, 0) 1px 1px;
    color: white;
	background: linear-gradient(
		rgb(0, 88, 238) 0%,
		rgb(53, 147, 255) 4%, 
		rgb(40, 142, 255) 6%,
		rgb(18, 125, 255) 8%,
		rgb(3, 111, 252) 10%,
		rgb(2, 98, 238) 14%,
		rgb(0, 87, 229) 20%,
		rgb(0, 84, 227) 24%,
		rgb(0, 85, 235) 56%,
		rgb(0, 91, 245) 66%,
		rgb(2, 106, 254) 76%,
		rgb(0, 98, 239) 86%,
		rgb(0, 82, 214) 92%,
		rgb(0, 64, 171) 94%,
		rgb(0, 48, 146) 100%);
}

.topBar > img {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.logoContainer {
	text-align: center;
	background: radial-gradient(
		closest-corner at 70% 50%,
		rgb(197, 194, 255),
		#597edc
	);
}

.logoContainer > img {
	max-height: 100%;
	max-width: 50%;
}

.orange-accent-popup {
	background: linear-gradient(
		to right,
		rgb(71, 4, 204, 1) 0%,
		rgba(249, 145, 0, 1) 40%,
		rgb(71, 4, 204, 1) 100%
	);
}

.accent-popup {
	margin: 0px;
	border: 0px;
	height: 10px;
}

.formContainer {
	background-color: #eaedda;
	font-size: 1.2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

.formContainer > form {
	margin-bottom: 0px !important;
}

.tags {
	width: 150px;
}

.forgotpsw-text{
	margin-left: 150px;
}

.popup-button input {
	height: 25px;
	border: 1px solid rgb(26, 26, 197);
	width: 60%;
	padding: 4px;
}

.popup-button button {
	width: 130px;
	height: 32px;
	border: 1px solid rgb(26, 26, 197);
	border-radius: 4px;

	background-image: linear-gradient(
		to bottom,
		#eaedda,
		white 15%,
		white,
		#eaedda 90%,
		#eaedda
	);
}

.post-form-content {
	display: none;
}

.grecaptcha-badge {
	visibility: hidden !important;
}

.emsg {
	color: red;
	display: inline-block;
}

.hidden {
	display: none;
}

.closeIcon, .closeQuestion, .close-error, .close-notepad, .close-leaderboard {
	box-shadow: rgb(218, 70, 0) 0px -1px 2px 1px inset;
	background-image: radial-gradient(
		circle at 90% 90%,
		rgb(204, 70, 0) 0%,
		rgb(220, 101, 39) 55%,
		rgb(205, 117, 70) 70%,
		rgb(255, 204, 178) 90%,
		white 100%
	);
	margin-right: 1px;
	position: relative;
	width: 22px;
	height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-image: initial;
	border-radius: 3px;
}

.closeIcon::before, .closeQuestion::before, .close-error::before, .close-notepad::before, .close-leaderboard::before {
	content: "";
	position: absolute;
	left: 9px;
	top: 2px;
	transform: rotate(45deg);
	height: 16px;
	width: 2px;
	background-color: white;
}

.closeIcon::after, .closeQuestion::after, .close-error::after, .close-notepad::after, .close-leaderboard::after {
	content: "";
	position: absolute;
	left: 9px;
	top: 2px;
	transform: rotate(-45deg);
	height: 16px;
	width: 2px;
	background-color: white;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.formContainer input {
		height: 35px;
		width: 90%;
	}
}


.toolbar-1{
	font-size: 12px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.toolbar-1:hover{
	background-color: rgb(22, 96, 232);
	color: white;
}

.toolbar-1:hover a{
	color: white;
}

.function_bar__separate {
    height: 90%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 2px;
}
.function_bar__button {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-image: initial;
    border-radius: 3px;
}
.function_bar__arrow {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 4px;
}

.address_bar {
    flex-shrink: 0;
    height: 20px;
    font-size: 11px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(176, 176, 176) 0px -2px 3px -1px inset;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    padding: 0px 2px;
}
.address_bar_title {
    line-height: 100%;
    color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	font-size: 12px;
}
.address_bar_content {
	height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(122, 122, 255, 0.6);
    border-image: initial;
    flex: 1 1 0%;
}

.address_bar_go {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0px 18px 0px 5px;
}
.address_bar_img {
    width: 20px;
	height: 19px;
	padding: 2px;
	right: 0px;
    position: absolute;
}
.address_bar_img_1 {
	width: 20px;
	height: 19px;
	padding: 2px;
}

.content__left__card__header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 23px;
    padding-left: 11px;
    padding-right: 2px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(240, 240, 255) 0px, rgb(240, 240, 255) 30%, rgb(168, 188, 255) 100%);
}

.content__left__card {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}
.content__left__card__content {
    padding: 5px 10px;
    background: linear-gradient(to right, rgb(180, 200, 251) 0%, rgb(164, 185, 251) 50%, rgb(180, 200, 251) 100%) rgba(198, 211, 255, 0.87);
}

.left-panel-text {
    font-size: 10px;
    line-height: 14px;
    color: rgb(12, 50, 125);
}

.content__left__card__row {
    display: flex;
    margin-bottom: 2px;
}

.footer__icon{
    display:inline;
}
/*
.footer__items_right {
    flex-shrink: 0;
    box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
    margin-left: 10px;
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
    border-left: 1px solid rgb(16, 66, 175);
    padding: 0px 10px;
    display:inline;
}
*/

.function_bar__button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 1px inset;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
	border-image: initial;
	cursor: default;
}

.back-button{
	filter: grayscale(1);
}

.function_bar__text {
	font-size: 11px;
	margin-right: 4px;
}

.function-bar-icons {
	height: 22px;
    width: 22px;
    margin: 0px 4px 0px 1px;
}

.question-nav{
	background-color: #faf8fb;
	filter: brightness(90%);
	border-bottom: 0;
}

.question-nav a:hover{
    color: black;
}

.question-nav:hover{
    filter: brightness(100%);
}

.active-nav{
	border-style: solid;
	filter: brightness(100%);
	/* border-image: linear-gradient(to bottom, orange, yellow); */
	border-color: orange;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 10px 10px 0px 0px;
}

.notepad {
	background-color: white;
	cursor: text;
	padding: 10px;
	overflow-y: scroll;
}