html,
body {
	width: 100vw;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif !important;	
}

#postResetContent {
	display: none;

}
.windows-user-2 {
	height: 180px;
}
.user-profile-pic {
	width: 64px;
	height: 64px;
	border-radius: 5px;
	border: 2px solid white;
	cursor: pointer;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.bar {
	height: 12.5vh;
}
.accent {
	margin: 0px;
	border: 0px;
	height: 3px;
}
.white-accent {
	background: linear-gradient(
		to right,
		rgba(0, 51, 153, 1) 0%,
		rgba(255, 255, 255, 1) 23%,
		rgba(0, 51, 153, 1) 100%
	);
}

.orange-accent {
	background: linear-gradient(
		to right,
		rgba(0, 51, 153, 1) 0%,
		rgba(249, 145, 0, 1) 23%,
		rgba(0, 51, 153, 1) 100%
	);
}
.shutdown-icon {
	widows: 32px;
	height: 32px;
	cursor: pointer;
}

.csi-logo {
	width: 150px;
}
.xp-text {
	color: white;
	font-size: 1.5rem;
}

.logo-text {
	font-size: 1.2rem;
}

.signUpText, .loginText {
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
}

.shutdown-text {
	font-size: 1rem;
}

.shutdownScreen {
	display: none;
	background-color: black;
}
.container-fluid {
	padding: 0 !important;
}
.bar {
	background-color: #003399;
}

.ctfLogo {
	width: 300px;
}

.left-section {
	border-image: linear-gradient(to bottom, #5a7edc, #6e90e2, #5a7edc) 1 100%;
	border-right: 2px solid rgba(255, 255, 255, 0.5);
	width: 60%;
}

.right-section {
	width: 40%;
}

.main-content {
	height: 75vh;
	background-image: radial-gradient(
		13em circle at 0% 0%,
		rgb(171, 185, 214),
		#597edc
	);
}

@media only screen and (max-width: 768px) {
	.main-content {
		background-image: radial-gradient(
			13em circle at 0% 0%,
			rgb(171, 185, 214),
			#597edc
		);
	}

	.ctfLogo {
		width: 250px;
    }
    
    .sectionContainer {
        justify-content: center;
    }
}
