html, body {
    width:100vw;
    height:100vh;
}

.user-profile-pic {
    width:64px;
    height:64px;
    border-radius: 5px;
    border: 2px solid white;
}

.user-name {
    color: white;
    font-size: 1.5rem;
}

.container-fluid {
    padding: 0 !important;
}
.bar {
    background-color: #003399;
}

.left-section {
    border-right: 2px solid white;
}

.main-content {
    background-color: #597EDC;
}
